<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
        <link href="stylesheets/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="center-xs">
      <h4>Estudiante:</h4> <%-Estudiante%>
      <br>
      <h4>Créditos aprobados:</h4> <%-approvedSemester%>
      <br>
      <h4>Créditos por aprobar:</h4><%-totalApprove-approvedSemester%>
      <br>
      <h4>Ya cursó pre-práctica:</h4><%-approvedPrepractica%>
      <br>
      <h4>El estudiante se puede graduar: </h4> <%- graduar%>
      <br>
      <h4>Cuenta correspondiente:</h4><%-cod%>
      <br>
      <h4>Código del estudiante:</h4><%-codeStudent1%>
      <br>
    </div>
  </body>
</html>
